body {
  background-color: #ce9443;
}

.App {
  font-family: sans-serif;
  margin: 25px;
  border-radius: 15px;
}

.home {
  margin: 15px;
}

.home-setting {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.settingOK {
  position: absolute;
  min-height: 200px;
  width: 450px;
  height: 400px;
  background-color: #d74e41;
  border-radius: 8px;
  left: 27%;
  top: 30%;
  opacity: 0.9;
  -webkit-box-shadow: 0px 10px 22px -5px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 10px 22px -5px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 10px 22px -5px rgba(0, 0, 0, 0.57);
}

.settingOK-close {
  text-align: right;
  font-size: 25px;
  cursor: pointer;
}

.setting-temple {
  background-color: #d74e41;
  height: 300px;
  align-items: center;
  text-align: center;
}

.setting-color {
  width: 93%;
  height: 15vh;
  margin: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 22px -13px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 10px 22px -13px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 10px 22px -13px rgba(0, 0, 0, 0.39);
}

.setting {
  width: 50%;
}

.setting-setting {
  cursor: pointer;
  color: brown;
  background-color: transparent;
}

.setting-setting i {
  font-size: 30px;
  margin-top: 15px;
}

.language {
  width: 50%;
  text-align: right;
  margin-top: 15px;
}

.setting button {
  border: 0;


}

.setting button img {
  width: 40px;
  border-radius: 100%;
}

.home-presentation {
  width: 100%;
  height: 90vh;
}

.form {
  width: 100%;

  align-items: center;
  text-align: center;
}

.form input {
  width: 50%;
  height: 30px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.95);
  box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.95);
  border: 0;
}

.form button {
  height: 35px;
}

.home-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
  width: 76%;
  margin-left: 12%;
}

.home-info {
  text-align: center;
  width: 50%;
  margin-top: 25%;
  height: 40vh;
}

.home-img {
  width: 50%;
  height: 40vh;
  text-align: center;
}
.home-img img{
  width: 100%;
  margin-top:  15%;
}

.button-cambio {
  border-radius: 20px;
}

.cambioBu {
  position: absolute;
  color: #ffffff;
  width: 40px;
  height: 40px;
  background-color: #f31010;
  border-radius: 100%;
  left: 7%;
  top: -5%;
  border: 5px;
  cursor: pointer;
}

/*Temples*/
.themple1 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #050000;
  border-radius: 100%;
  left: 20%;
  top: 5%;
  border: 5px;
  cursor: pointer;
}

.themple2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #383F09;
  border-radius: 100%;
  left: 40%;
  top: 5%;
  border: 5px;
  cursor: pointer;
}

.themple3 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #645143;
  border-radius: 100%;
  left: 60%;
  top: 5%;
  border: 5px;
  cursor: pointer;
}

.themple4 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100%;
  left: 80%;
  top: 5%;
  border: 5px;
  cursor: pointer;
}